@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: #f1f1f1;
    z-index: -1;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../public/fonts/Helvetica-Neue-Font/HelveticaNeue/Helvetica_Neue_LTW0697.otf');
}

